
@import "color.scss";
@import "~bootstrap/scss/bootstrap";

body{
    padding: 20px 50px 20px 50px ;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-left: 20px;
    padding-right: 20px;
   
}

form{
    width: 480px;
    margin-top: 5vh;
    border: solid 1px rgb(165, 164, 164);

    background-color: #fffefe;
    align-items: center;
    
    .form-padding{
        padding: 0px 50px 30px 50px;


        .form-header{
            margin-top: 25px;
        }
    }

   
 
}


.show-alert{
    font-size: 16px;
    width: 100%;
    max-width: 478px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.table-area{
    margin-top: 5vh;
    height: 80vh;
    width:100%;
    overflow-y: auto;

    thead{
        color: #333;
        background-color: #dfdfdf;
    
        th{
            font-weight:400;
        }
    }

    .td-button{
        width: 130px;
    }

}




.delete:active{
    transform: translateY(1px);
}
.edit:active{
    transform: translateY(1px);
}




